.connectorLine::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 0;
  transform: translateX(-50%);
  border-left: var(--stroke-thick) solid var(--color-stroke-default);
}
