.metricsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.metricsValue:global(.text-display-small.content-emphasis) {
  font-family: 'Builder Extended';
  font-size: 48px;
}

.metricsUnit:global(.text-display-small.content-emphasis) {
  font-family: 'Builder Extended';
  font-size: 36px;
}

/* Medium: 601px */
@media (max-width: 600px) {
  .metricsValue:global(.text-display-small.content-emphasis) {
    font-size: 40px;
  }

  .metricsUnit:global(.text-display-small.content-emphasis) {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .metricsContainer {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }

  .metricsContainer>*:first-child {
    grid-column: span 2;
  }
}

/* Small: 361px */
@media (max-width: 360px) {
  .metricsValue:global(.text-display-small.content-emphasis) {
    font-size: 32px;
  }

  .metricsUnit:global(.text-display-small.content-emphasis) {
    font-size: 24px;
  }
}