.cardPadding {
  padding: var(--size-800) var(--size-700);
}

@media (min-width: 361px) {
  .cardPadding {
    padding: var(--size-1000) var(--size-800);
  }
}

.learnMoreButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline;
  font: inherit;
}