.heroHeading:global(.text-display-small) {
  font-family: 'Builder Extended';
  font-weight: 600;
  font-size: 48px;
}

/* Medium: 601px */
@media (max-width: 600px) {
  .heroHeading:global(.text-display-small) {
    font-size: 44px;
  }
}

/* Small: 361px */
@media (max-width: 360px) {
  .heroHeading:global(.text-display-small) {
    font-size: 32px;
  }
}
