.tableGrid {
  grid-template-columns: minmax(200px, 1.5fr) repeat(3, minmax(120px, 1fr));
}

.tableGrid > * {
  border-right: var(--stroke-standard) solid var(--color-stroke-emphasis);
  border-bottom: var(--stroke-standard) solid var(--color-stroke-emphasis);
}

.tableGrid > *:nth-child(4n) {
  border-right: 0;
}

.tableGrid > *:nth-last-child(-n + 4) {
  border-bottom: 0;
}

.tableGrid > *:first-child {
  border-top-left-radius: var(--radius-medium);
}

.tableGrid > *:nth-child(4) {
  border-top-right-radius: var(--radius-medium);
}

.tableGrid > *:nth-last-child(4) {
  border-bottom-left-radius: var(--radius-medium);
}

.tableGrid > *:last-child {
  border-bottom-right-radius: var(--radius-medium);
}
