.tierHeaderCell {
  border-bottom: 0 none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.currentBadge {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.alignTop {
  vertical-align: top;
}