.playerAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-small);
}

.tightOutline :global(.focus-within\:outline-focus:focus-within) {
  outline-width: 2px;
  outline-offset: 0px;
}

.snackbarContainer {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1400;
}
