.badge {
  margin: 4px 0 0 0;
}

.badgeLabelContainer {
  white-space: initial;
}

.iconOk :global(.icon) {
  color: var(--color-system-success);
}

.iconError :global(.icon) {
  color: var(--color-system-alert);
}

.iconWarning :global(.icon) {
  color: var(--color-system-warning);
}

.iconNeutral :global(.icon) {
  color: var(--color-muted);
}

.badgeLink {
  text-decoration: none;
  color: inherit;
}

.tooltipWrapper :global([data-radix-popper-content-wrapper]) {
  z-index: 1500 !important;
}
