.tableElement {
  table-layout: auto;
}

.tableElement :global(tbody tr:last-child td) {
  border-bottom: none !important;
}

.statusIndicatorCompleted {
  background-color: var(--color-system-success);
}

.statusIndicatorInProgress {
  background-color: var(--color-system-warning);
}

.statusIndicatorUnknown {
  background-color: var(--color-system-neutral);
}

.moreButton {
  height: auto;
  min-height: auto;
  vertical-align: baseline;
}
