.heroBanner {
  min-height: 160px;
  overflow: hidden;
}

.heroCoverImage {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
}

.heroTextContent {
  z-index: 1;
  width: 100%;
  max-width: 600px;
  min-width: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
}
